/* =========================================
   RESET
========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #00369F;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* =========================================
   SUCCESS WRAPPER
========================================= */
.success-wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top-check {
    position: absolute;
    width: 100%;
    top: -10px;
    z-index: 10;
    left: 0;
    text-align: center;
}

.check-icon {
    width: 300px;
    height: auto;
}

/* SUCCESS TICKET */
.success-ticket {
    background: #F2F2F2;
    width: 500px;
    padding: 40px 40px 40px;
    border-radius: 22px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-top: 50px;
}

.success-ticket::before,
.success-ticket::after {
    content: "";
    width: 40px;
    height: 40px;
    background: #00369F;
    position: absolute;
    border-radius: 30px 30px 30px 30px;
    top: 20%;
}

.success-ticket::before {
    left: -20px;
    transform: rotate(180deg);
}

.success-ticket::after {
    right: -20px;
}

.title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.subtitle {
    text-align: center;
    margin-top: 6px;
    font-size: 15px;
}

.divider {
    width: 100%;
    height: 1px;
    background: #000;
    opacity: .3;
    margin: 18px 0 25px;
}

.info-box {
    display: flex;
    background: #FFF;
    padding: 15px 18px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.mini-logo {
    width: 70px;
    margin-right: 10px;
    margin-top: 10px;
}

.trx-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.total-label {
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.total-price {
    font-size: 32px;
    text-align: center;
    margin: 5px 0 25px;
    font-weight: 800;
}

/* BUTTON START */
.start-btn {
    background: #FFD84F;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover {
    filter: brightness(.9);
}
